##################################
#           PRODUCTION           #
##################################

##### Frameworks #####
dmtoolkit >= 0.0.10
autonomous-app >= 0.1.3

##### Configuration and Documentation #####


##### System #####


##### API #####


##### Database #####


##### Frontend #####


##### Network #####

requests
gunicorn

##### Security #####


##### Async ##### 


##### AI #####


##### Parsing #####

dateparser
markdown

##### Utility #####

d20

##################################
#           DEVELOPMENT          #
##################################

pytest
pytest-cov



