{% extends "base.html" %}
{% import 'macros/_nav.html' as nav with context %}
{% import 'macros/_widgets.html' as widgets with context %}

{% block content %}

{{ nav.fullnav() }}

<div class="row">
    <div class="column is-6 dmpanel is-hidden" id="initiative-panel">
        <h2> INITIATIVE TRACKER </h2>
        <a class="button circle" id="next-initiative">
            <iconify-icon icon="material-symbols:next-plan"></iconify-icon>
        </a>
        <ul class="has-no-list-style" id="battle-initiative">
            {% if initiative %}
            {%for character in initiative.ordered() %}
            <li data-pk="{{character.pk}}">
                <div class="media">
                    <div class="media__left">
                        <div class="image round is-thumbnail is-tiny">
                            <img src="{{character.image}}">
                        </div>
                    </div>
                    <div class="media__content">
                        <p>{{character.name}}</p>
                    </div>
                    <div class="media__right">
                        <a class="button is-small circle" id="remove-from-initiative">
                            <iconify-icon icon="mdi:remove"></iconify-icon>
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
        <hr>
        <div class="row has-space-between">
            <div class="column">
                <button class="button" id="set-initiative">Set Initiative</button>
            </div>
            <div class="column">
                <button class="button" id="update-initiative">Update Initiative</button>
            </div>
            <div class="column">
                <button class="button" id="clear-initiative">Clear Initiative</button>
            </div>
        </div>

        <div class="section" id="initiative-available">
            <h2>Available for Initiative</h2>
            <div class="row">
                <div class="column">
                    <h3> Players </h3>
                    {% if initiative %}
                    {% for i in initiative.players() %}
                    {% if i.player %}
                    <div class="row">
                        <div class="column">
                            <div class="is-input-group">
                                <label class="is-very-big-heading">{{i.player.name}}</label>
                                <input type="number" value="{{i.initiative}}" name="player-initiative">
                                <iconify-icon icon="lucide:list-start"></iconify-icon>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="column">
                    <h3> Combatants </h3>
                    {% if initiative %}
                    {% for i in initiative.monsters() %}
                    {% if i.monster %}
                    <div class="row">
                        <div class="column is-shrink">
                            <div class="image is-tiny is-thumbnail">
                                <image src="{{i.monster.image}}">
                            </div>
                        </div>
                        <div class="column">
                            <label class="is-small-heading">{{i.monster.name}}</label>
                        </div>
                        <div class="column is-4">
                            <div class="is-input-group">
                                <input type="number" value="{{i.initiative}}" name="monster-initiative">
                                <a class="button is-primary initiative-form">
                                    <iconify-icon icon="lucide:list-start"></iconify-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="column dmdetail is-hidden" id="initiative-detail">
    </div>
</div>

{% endblock %}