{% extends "base.html" %}
{% import 'macros/_nav.html' as nav with context %}
{% import 'macros/_widgets.html' as widgets with context %}

{% block content %}

{{ nav.fullnav() }}

<hr>
<div class="row">
    <div class="column is-4 dmpanel" id="players-panel">
        <h2> Player Characters </h2>
        <ul class="has-no-list-style" id="pc-list">
            {% for p in players %}
            <li>
                <div class="row">
                    <div class="column">
                        <label>{{p.name}}</label>
                    </div>
                    <div class="column is-one-third">
                        <a class="button is-primary add-pc-to-initiative" data-pk="{{p.pk}}">
                            <iconify-icon icon="mdi:sword-fight"></iconify-icon>
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <form method="post" target="/admin/addplayers">
            <div class="row is-vertical">
                <div class="column">
                    <input type="text" id="dndbeyond_id" name="dndbeyond_id" placeholder="DnDBeyond ID#">
                </div>
                <div class="column">
                    <input class="button" type="submit">Add Player</input>
                </div>
            </div>
        </form>
    </div>
    <div class="column dmdetail" id="players-detail">
        <h2>Player Details</h2>
    </div>
</div>


{% endblock %}