{% macro panel()-%}
<h3>NPC Chat</h3>
<h4 id="chat-name"></h4>
<form id="chat-form" data-pk="">
    <textarea class="has-bg-light" name="pc-chat" id="pc-chat"></textarea>
    <button class="button is-small" type="submit">Send</button>
</form>
<div class="row is-vertical" id="npc-chat">
    <div class="column chat-message panel has-bg-dark" id="npcchat-message">
    </div>
    <div class="column chat-response panel has-bg-dark" id="npcchat-response">
    </div>
    <div class="column chat-message panel has-bg-dark" id="npcchat-summary">
        <h4>Conversation Summary</h4>
    </div>
</div>
{%- endmacro %}