{% macro fullnav(footer_text="Contact Info") -%}

<div class="hero">
  <div class="hero__header">
    <nav class="top has-no-padding-top is-mobile-responsive ">
      <div class="top__brand">
        <div class="row is-no-wrap">
          <div class="column has-no-padding-top has-no-padding-bottom">
            <a href="/">
              <div class="image is-tiny">
                <iconify-icon icon="simple-icons:dungeonsanddragons" height="100%"></iconify-icon>
              </div>
            </a>
          </div>
          <div class="column has-no-padding-top has-no-padding-bottom">
            <a href="/">
              <span class="is-big-heading">DM Buddy</span>
            </a>
          </div>
        </div>
      </div>
      <div class="top__links is-end">
        <ul>
          <li id="nav-reference">
            <a>
              <iconify-icon icon="ph:book-fill"></iconify-icon>
            </a>
          </li>
          <li id="nav-npc">
            <a>
              <iconify-icon icon="ph:person-fill"></iconify-icon>
            </a>
          </li>
      </div>
    </nav>
  </div>
</div>

{%- endmacro %}