{% macro fullnav(footer_text="Contact Info") -%}

<div class="hero">
  <div class="hero__header">
    <nav class="top is-mobile-responsive ">
      <div class="top__brand">
        <div class="row is-no-wrap">
          <div class="column">
            <a href="/">
              <div class="image is-small">
                <iconify-icon icon="simple-icons:dungeonsanddragons" height="100%"></iconify-icon>
              </div>
            </a>
          </div>
          <div class="column">
            <a href="/">
              <span class="is-big-heading">DM Buddy</span>
            </a>
          </div>
        </div>
      </div>
      <div class="top__links is-end">
        <ul id="nav_links">
          <li>
            <a href="#dungeon">
              <iconify-icon icon="game-icons:dungeon-gate"></iconify-icon>
            </a>
          </li>
          <li>
            <a href="#monsters">
              <iconify-icon icon="fa-solid:dragon"></iconify-icon>
            </a>
          </li>
          <li>
            <a href="#items">
              <iconify-icon icon="game-icons:open-treasure-chest"></iconify-icon>
            </a>
          </li>
          <li>
            <a class="open-modal" data-target="dmnotes">
              <iconify-icon icon="game-icons:spell-book"></iconify-icon>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

{%- endmacro %}