{% macro fullnav(footer_text="Contact Info") -%}

<div class="hero">
  <div class="hero__header">
    <nav class="top is-mobile-responsive ">
      <div class="top__brand">
        <div class="row is-no-wrap">
          <div class="column">
            <a href="/">
              <div class="image is-tiny">
                <iconify-icon icon="simple-icons:dungeonsanddragons" height="100%"></iconify-icon>
              </div>
            </a>
          </div>
          <div class="column">
            <a href="/">
              <span class="is-medium-heading">DM Buddy</span>
            </a>
          </div>
        </div>
      </div>
      <div class="top__links is-end">
        <ul id="nav_links">
          <li>
            <a data-target="map">
              <iconify-icon icon="uiw:map"></iconify-icon>
            </a>
          </li>
          <li>
            <a data-target="initiative">
              <iconify-icon icon="mdi:sword-fight"></iconify-icon>
            </a>
          </li>
          <li i>
            <a data-target="reference">
              <iconify-icon icon="zondicons:book-reference"></iconify-icon>
            </a>
          </li>
          <li>
            <a data-target="players">
              <iconify-icon icon="game-icons:tabletop-players"></iconify-icon>
            </a>
          </li>
          <li>
            <a data-target="dmnotes">
              <iconify-icon icon="game-icons:spell-book"></iconify-icon>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

{%- endmacro %}