{% macro panel(info) -%}
<div class="panel">
    <div class="row has-space-between">
        <div class="column">
            <button class="button is-primary is-small" id="generate-npc">Generate NPC</button>
        </div>
        <div class="column">
            <button class="button is-secondary is-small" id="update-canon-npc">Update from Canon</button>
        </div>
    </div>
    <div class="row">
        {% if npcs %}
        <div class="column" id="npc-list-container">
            <h4>Free NPCs</h4>
            <ul id="free-npc-list">
                {% for npc in npcs %}
                {% if not npc.canon %}
                <li id="list-npc-{{npc.pk}}" class="statcard-item" data-pk="{{npc.pk}}" data-category="NPC">
                    <a href="#" class="statcard-view">
                        {{npc.name}}
                    </a>
                    <a href="#" class="button__close item-delete is-float-right"></a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            <hr>
            <h4>Unassociated Canon NPCs</h4>
            <ul id="add-npc-list">
            </ul>
        </div>
        <div class="column">
            <h4>Canon NPCs</h4>
            <ul id="canon-npc-list">
                {% for npc in npcs %}
                {% if npc.canon %}

                <li id="list-npc-{{npc.pk}}" class="statcard-item" data-pk="{{npc.pk}}" data-category="NPC">
                    <a href="#" class="statcard-view">
                        {{npc.name}}
                    </a>
                    <a href="#" class="button__close item-delete is-float-right"></a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{%- endmacro %}

{% macro statblock(info) -%}
<form class="statblock-form">
    <div class="row statblock" id="pcstatblock-{{info.pk}}" data-pk="{{info.pk}}" data-category="NPC">
        <div class="column is-full">
            <div class="is-input-group">
                <input value="{{info.name}}" name="name" id="name-{{info.pk}}" class="pc-details title" type="text">
                <input value="{{info.class_name}}" name="class_name" id="class_name-{{info.pk}}"
                    class="pc-details subtitle" type="text">
            </div>
        </div>
        <div class="column is-shrink">
            <div class="row">
                <div class="column is-full">
                    {% if info.image['url'] %}
                    <div class="image is-large is-rounded-tile tooltip tooltip--right"
                        data-tooltip-content="{{info.desc | safe}}">
                        <img src="{{info.image['url']}}" />
                    </div>
                    {% endif %}
                </div>
                <div class="column">
                    <a class="button generate-image is-small">Regenerate Image</a>
                </div>
                <div class="column">
                    <a class="button save-updates is-small">Save Updates</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="row">
                <div class="column is-full">
                    <label class="subtitle">Description</label>
                    <textarea name="desc" id="desc-{{info.pk}}">{{info.desc | safe}}</textarea>
                </div>
                <div class="column is-full">
                    <label class="subtitle">Character History</label>
                    <textarea name="backstory" id="backstory-{{info.pk}}">{{info.backstory | safe}}</textarea>
                </div>
            </div>
        </div>
        <div class="column is-full">
            <div class="row">
                <div class="column " id="character-attributes-{{info.pk}}">
                    <svg class="tapered-rule">
                        <polyline points="0,0 1000,5 0,5"></polyline>
                    </svg>
                    <div class="row">
                        <div class="column is-4">
                            <label class="attribute">STR</label>
                            <input value={{info['str']}} name="str" id="str-{{info.pk}}" type="number">
                        </div> <!-- ability strength -->
                        <div class="column is-4">
                            <label class="attribute">DEX</label>
                            <input value={{info['dex']}} name="dex" id="dex-{{info.pk}}" type="number">
                        </div> <!-- ability dexterity -->
                        <div class="column is-4">
                            <label class="attribute">CON</label>
                            <input value={{info['con']}} name="con" id="con-{{info.pk}}" type="number">
                        </div> <!-- ability constitution -->
                        <div class="column is-4">
                            <label class="attribute">INT</label>
                            <input value={{info['int']}} name="int" id="int-{{info.pk}}" type="number">
                        </div> <!-- ability intelligence -->
                        <div class="column is-4">
                            <label class="attribute">WIS</label>
                            <input value={{info['wis']}} name="wis" id="wis-{{info.pk}}" type="number">
                        </div>
                        <div class="column is-4">
                            <label class="attribute">CHA</label>
                            <input value={{info['cha']}} name="cha" id="cha-{{info.pk}}" type="number">
                        </div>
                    </div>
                    <svg class="tapered-rule">
                        <polyline points="0,0 1000,5 0,5"></polyline>
                    </svg>
                </div>
                <div class="column is-2 is-end">
                    <label class="subtitle">Age</label>
                    <input value="{{info.age}}" class="pc-details" name="age" id="age-{{info.pk}}" type="number">
                    <label for="occupation-{{info.pk}}" class="subtitle">Occupation</label>
                    <input value="{{info.occupation}}" name="occupation" id="occupation-{{info.pk}}" class="pc-details"
                        type="text">
                </div>
                <div class="column is-2">
                    <label class="subtitle">Personality</label>
                    {% for k in info.personality %}
                    <input value="{{k}}" name="personality-{{loop.index}}" id="personality-{{info.pk}}-{{loop.index}}"
                        class="pc-details" type="text">
                    {% endfor %}
                    <input placeholder="add personality traits" name="personality-add" id="personality-add"
                        class="pc-details" type="text">
                </div>
                <div class="column is-3">
                    <label class="attribute">Canon</label>
                    <div class="is-switch">
                        <input value="{{info.canon}}" type="checkbox" id="canon-{{info.pk}}" name="canon" {% if
                            info.canon %} checked {%endif%}>
                        <label for="canon-{{info.pk}}" class="has-bg-dark"></label>
                    </div>
                    <ul>
                        <li style="font-style:italic">Wikijs ID: {{info.wikijs_id}}</li>
                        <li style="font-style:italic">World Anvil ID: {{info.wa_artcle_id}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="column is-full">
            <div class="panel has-bg-light">
                <div class="row">
                    <div class="column" id="character-stats-{{info.pk}}">
                        <div class="row">
                            <div class="column is-half is-inline-label">
                                <label class="attribute">Race</label>
                            </div>
                            <div class="column is-half">
                                <input value="{{info.race}}" name="race" id="race-{{info.pk}}" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="column is-half is-inline-label">
                                <label class="attribute">AC</label>
                            </div>
                            <div class="column is-half">
                                <input value="{{info.ac}}" name="ac" id="ac-{{info.pk}}" type="number">
                            </div>
                        </div>
                        <div class="row">
                            <div class="column is-half is-inline-label">
                                <label class="attribute">Hit Points</label>
                            </div>
                            <div class="column is-half">
                                <input value="{{info['hp']}}" name="hp" id="hp-{{info.pk}}" type="number">
                            </div>
                        </div>
                        <div class="row">
                            <div class="column is-half is-inline-label">
                                <label class="attribute">Passive Perception</label>
                            </div>
                            <div class="column is-half">
                                <input value="{{info.passive_perception}}" type="number" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column is-half is-inline-label">
                                <label class="attribute">Speed</label>
                            </div>
                            <div class="column is-half">
                                {% for k,v in info.speed.items() %}
                                <div class="is-input-group">
                                    <span class="input-group-addon">{{k}}</span>
                                    <input value="{{v}}" name="speed-{{k}}" id="speed-{{k}}-{{info.pk}}" type="number">
                                </div>
                                {% endfor %}
                                <div class="is-input-group">
                                    <input placeholder="add speed type" name="speed-type-add" id="speed-type-add"
                                        class="pc-details" type="text">
                                    :
                                    <input placeholder="add speed type" name="speed-num-add" id="spped-num-add"
                                        class="pc-details" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column is-half is-inline-label">
                                <label class="attribute">Wealth</label>
                            </div>
                            <div class="column is-half">
                                {% for v in info.wealth %}
                                <input value="{{v}}" name="wealth-{{v}}" id="wealth-{{v}}-{{info.pk}}" type="text">
                                {% endfor %}
                                <div class="is-input-group">
                                    <input placeholder="add wealth type" name="wealth-type-add" id="wealth-type-add"
                                        class="pc-details" type="text">
                                    :
                                    <input placeholder="add wealth type" name="wealth-num-add" id="wealth-num-add"
                                        class="pc-details" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <h3>Resistances and Immunities</h3>
            <svg class="tapered-rule">
                <polyline points="0,0 1000,2.5 0,5"></polyline>
            </svg>


            {% if info.resistances %}
            {% for r in info.resistances %}
            <div class="is-input-group">
                <input value="{{r}}" name="resistances-{{loop.index}}" id="resistances-{{loop.index}}-{{info.pk}}"
                    type="text">
            </div>
            {% endfor %}
            {% endif %}
            <input placeholder="add resistances" name="resistances-add" id="resistances-add" class="pc-details"
                type="text">

            <hr>

            <h3>Inventory</h3>
            <svg class="tapered-rule">
                <polyline points="0,0 1000,2.5 0,5"></polyline>
            </svg>


            {% if info['inventory'] %}
            {# <div class="column is-full">
                <div class="is-select">
                    <select class="inventory-select">
                        <option value=""></option>
                        {% for r in info['inventory'] %}
                        <option value="r.name">
                            {{r.name}}
                        </option>
                        {%endfor %}
                    </select>
                </div>
            </div> #}
            {% for r in info.inventory %}
            <div class="is-input-group">
                <input value="{{r}}" name="inventory-{{loop.index}}" id="inventory-{{loop.index}}-{{info.pk}}"
                    type="text">
            </div>
            {%endfor %}
            {% endif %}
            <input placeholder="add inventory" name="inventory-add" id="inventory-add" class="pc-details" type="text">
        </div>
        <div class="column">
            <h3>Actions and Features</h3>
            <svg class="tapered-rule">
                <polyline points="0,0 1000,2.5 0,5"></polyline>
            </svg>


            {% if info['features'] %}
            {# <div class="column is-full">
                <div class="is-select">
                    <select class="feature-select">
                        <option value=""></option>
                        {% for k in info['features'] %}
                        <option value="feature-{{k|slug}}">
                            {{k}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div> #}
            {% for v in info['features'] %}
            <div class="is-input-group">
                <input value="{{r}}" name="features-{{loop.index}}" id="features-{{loop.index}}-{{info.pk}}"
                    type="text">
            </div>
            {%endfor %}
            {% endif %}
            <input placeholder="add features" name="features-add" id="features-add" class="pc-details" type="text">
            <hr>

            <h3>Spells</h3>
            <svg class="tapered-rule">
                <polyline points="0,0 400,1 0,5"></polyline>
            </svg>


            {% if info.spells %}
            <div class="row">
                <div class="column">
                    {% for r in info['spells'] %}
                    <div class="is-input-group">
                        <input value="{{r}}" name="spells-{{loop.index}}" id="spells-{{loop.index}}-{{info.pk}}"
                            type="text">
                    </div>
                    {%endfor %}
                </div>
            </div>
            {% endif %}
            <input placeholder="add spells" name="spells-add" id="spells-add" class="pc-details" type="text">
        </div>
    </div>
    </div>
    </div>
</form>
{%- endmacro %}