//////////////////////////////////////////////
//                 Variables                //
//////////////////////////////////////////////

/// - https://orbitcss.com/documentation/sass-variables
// List of variables
$grid-sizes: repeat(20, 1fr) !default; //

//////////////////////////////////////////////
//                 Styles                   //
//////////////////////////////////////////////

@import "autostyle/all";
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

option {
  color: $dark;
}

#search-results-container {
  max-height: 300px;
  overflow-y: scroll;
}

#npc-list-container {
  & li {
    color: $primary;
    list-style: none;
  }
}

#npc-chat {
  color: $light;
  font-family: "Kalam", cursive;
  font-size: 1.5rem;
}
