//////////////////////////////////////////////
//                 Variables                //
//////////////////////////////////////////////

/// - https://orbitcss.com/documentation/sass-variables
// List of variables
$grid-sizes: repeat(20, 1fr) !default; // 

//////////////////////////////////////////////
//                 Styles                   //
//////////////////////////////////////////////

@import 'autostyle/all';

// Custom Elements
// :root
// {
//     --var: " ";
// }


input[type=text], select, option{
    color:$light;
    font-size: 1.5rem;
    font-weight: 500;
}
option{
    color:$primary;
}

#pc_list li{
    border: 1px solid $primary;
}

.tapered-rule{
    margin: 1rem 0;
}