//////////////////////////////////////////////
//                 Variables                //
//////////////////////////////////////////////

/// - https://orbitcss.com/documentation/sass-variables
// List of variables
$grid-sizes: repeat(20, 1fr) !default; // 

//////////////////////////////////////////////
//                 Styles                   //
//////////////////////////////////////////////

@import 'autostyle/all';

// Custom Elements
// :root
// {
//     --var: " ";
// }

.wall-cell
{
    background: url(/static/images/wall.jpg);
    background-size: cover;
}

.floor-cell
{
    background-color: rgb(113, 30, 11);
}