{% extends "base.html" %}
{% import 'macros/_nav.html' as nav with context %}
{% import 'macros/_npc.html' as npcstab with context %}
{% import 'macros/_reference.html' as referencetab with context %}

{% block content %}

{{ nav.fullnav() }}

<div class="tabs">
    <ul class="tabs__list has-centered">
        <li data-target="reference-tab">
            <a>
                <iconify-icon icon="ph:book-fill"></iconify-icon>
                Reference
            </a>
        </li>
        <li data-target="npc-tab">
            <a>
                <iconify-icon icon="ph:person-fill"></iconify-icon>
                NPC Generator
            </a>
        </li>
        <li id="statcard-clear">
            <a class="button is-small">
                Clear Stat Cards
            </a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="column is-4">
        <div class="row">
            <div class="column tab-panel is-full {% if session.get('page', 'reference') != 'reference' %} is-hidden {% endif %}"
                id="reference-tab">
                {{referencetab.panel()}}
            </div>
            <div class="column tab-panel is-full {% if session['page'] != 'npc' %} is-hidden {% endif %}" id="npc-tab">
                {{npcstab.panel()}}
            </div>
        </div>
    </div>
    <div class="column">
        <div class="row is-vertical" id="statblock">
        </div>
    </div>
</div>
{% endblock %}